.card{
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    background-color: cadetblue;
    padding: 1rem;
    margin: 2rem auto;
    width: 15rem;
    max-width: 95%;
    display: inline-block;
}

.session{
    border-radius: 7px;
    padding: 0.5rem;
    width: 10rem;
    margin: 0.5rem auto;
}

.booked{
    background-color: red;
}

.available{
    background-color: green;
}

.partial{
    background-color: yellow;
}