.beneficiaries {
    display: inline-flex;
    gap: 0rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: fit-content;
    max-width: 95%;
  }

.beneficiary{
    border-radius: 12px;
    display: inline-block;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    margin: 0.5rem;
    width:min-content;
    max-width: 95%;
}

.vaccinated{
    background-color: grey;
}

.notVaccinated{
    background-color: green;
}

.partial{
    background-color: yellow;
}